.MinusLogo {
  a {
    font-family: 'Prompt', sans-serif;
    color: var(--first-color);
    font-size: 44px;
    font-weight: 700;
    text-decoration: none;
    span {
      color: var(--orange-color);
    }
  }
}
