.error {
  width: 100%;
  max-width: 340px;

  h1 {
    font-size: 80px;
    color: var(--first-color);

    span {
      font-size: 60px;
      color: var(--grey-color);
    }
  }

  .error-msg {
    color: var(--grey-color);
    font-size: 14px;

    a {
      text-decoration: none;
      color: var(--first-color);
      transition: all 0.3s ease-out;

      &:hover {
        text-decoration: underline;
        color: var(--black-color);
      }
    }
  }
}
